# sphinx
docs/_build/*
docs/_static/*
docs/_modules/*
!.gitkeep

# IDE 
.idea/
__pycache__
*.pyc

# setuptools
*egg-info*
dist/
build/

# miscellaneous
ddpg_DcSeries-Cont-v0_weights_actor\.h5f
ddpg_DcSeries-Cont-v0_weights_critic\.h5f

# notebooks
.ipynb_checkpoints/
examples/logs/

# unit tests
.coverage

/my_examples/
